<h1> Create new Contact </h1>

<form action="/contacts" method="post">
	First name: <input type="text" name="first_name"><br>
	Last Name:<input type="text" name="last_name"><br>
	Email:<input type="text" name="email"><br>
	Notes:<input type="text" name="note"><br>
	<input type="submit" name="Submit">
</form>

<li> <a href= "/"> Just hold on, were going home </a></li>